/* Following used by both Behaviour Composer and MoPiX widgets
*/

body, table td, select {
 font-family: Verdana, Geneva, sans-serif;
}

/* keyword cloud styling -- "borrowed" from OUCS WWI web site */
ul#keyword-cloud {
  margin-top: 2pt;
  margin-bottom: 2pt;
  display: block;
  padding: 2pt;
}

ul#keyword-cloud li.keyword-atom {
  display: inline;
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 2.5em;
  padding: 0.1em;
}

li.keyword-atom a {
  padding: 0.3em;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #D65C93;
}

li.keyword-atom a:hover,li.keyword-atom a:focus {
  color: #D65C93;
  background-color: #fff;
}

.modeller-model-loader, .gwt-Button, .modeller-modeller-button {
  display: inline-block;
  vertical-align: text-bottom;
  color: DarkBlue;
  border-radius: 3pt;
}
 
.modeller-tagging-buttons-panel {
   border: 1px solid #aaa;
   border-top: 1px solid #ddd;
   border-left: 1px solid #ddd;
}
 
.modeller-LocalHyperLink {
   text-decoration: underline;
   color: darkblue;
   cursor: pointer;
}
 
.modeller-LocalHyperLink-visited {
   text-decoration: underline;
   color: purple;
   cursor: pointer;
}
 
.modeller-InternalHyperLink {
  text-decoration: underline;
  color: darkblue;
  cursor: pointer;	
}
 
.modeller-InternalHyperLink-visited {
  text-decoration: underline;
  color: purple;
  cursor: pointer;	
}

.modeller_models_grid td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.modeller_models_grid {
  border: 1px solid Brown;
  background-color: LavenderBlush;
  padding: 6px;
}
 
.modeller-MicroBehaviour {
   color: DarkBlue;
   text-align: left;
   font-size: 11pt;
}

.gwt-Button:hover, .modeller-prototype-name:hover {
   background: url("images/hborder.png") repeat-x scroll 0px -1450px;
   border-color: #9cf #69e #69e #7af;
}

.gwt-Button[disabled]:hover {
   background: url("images/hborder.png") repeat-x scroll 0px -2003px;
}
 
.modeller-MicroBehaviour-inactive {
   color: #888888;
   text-decoration: line-through;
}
 
.modeller-MacroBehaviour {
   display: inline-block;
   border: 2px solid #aaa;
   background-color: rgb(245,255,252); /* very pale greenish-blue */
   vertical-align: top;
}

.modeller-MacroBehaviour-inactive {
   background-color: #888;
}

.modeller-EpidemicGameButtonColumn {
   display: inline-block;
   border: 1px solid blue;
   background-color: LavenderBlush;
}

.modeller-EpidemicGameButton {
  color: DarkSlateBlue;
  background-color: PowderBlue;
}

.modeller-EpidemicGameButton:hover {
  color: PowderBlue ;
  background-color: DarkSlateBlue;
}

.modeller-holding-micro-behaviour {
   cursor: url(/Model/css/images/micro-behaviour-cursor.png), 
           url(/Model/css/images/micro-behaviour-cursor.ico), 
           auto;
}

.modeller-holding-micro-behaviour-wrong {
   cursor: url(/Model/css/images/micro-behaviour-wrong-cursor.png), 
           url(/Model/css/images/micro-behaviour-wrong-cursor.ico), 
           auto;
}

.modeller-wait-cursor {
	cursor: wait;
}

.modeller-holding-micro-behaviour:hover {
   background-color: mistyRose;
}

.modeller-prototype-name {
	color: rgb(72,0,0); /* very dark red */
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    border-radius: 3pt 3pt 3pt 3pt;
}

.modeller-prototype-name-inactive {
  text-decoration: none;
  color: #888888;
  cursor: pointer;
}

.modeller-code-text-area {
  overflow: visible;
  background-color: aliceblue;
  border: 2px solid lightblue;
}

.modeller-command-bar {
 background-color: lemonChiffon;
}

.modeller-command-bar-panel {
 background-color: lemonChiffon;
}

.modeller-browse-panel {
 background-color: floralwhite;
}

.modeller-tab-panel {
 background-color: whitesmoke;
}

.modeller-alerts-line {
  max-height: 33pt;
}

.modeller-CommandAnchor {
  text-decoration: none;
  color: darkblue;
  cursor: pointer;
  font-size: 11pt;
  font-weight: bold;
}

.modeller-CommandAnchor:hover {
 color: darkred;
 text-decoration: underline;
}

.modeller-CommandAnchor-inactive {
  text-decoration: none;
  color: gray;
}

.modeller-CommandAnchor-inactive:hover {
  text-decoration: none;
  color: gray;
}

.modelling-m4a-icon {
  cursor: pointer;
}

.modeller-alerts {
  background-color: honeydew;
  top-margin: 8px;
  bottom-margin: 8px;
  font-size: 11pt;
}

.modeller-run-applet-dialog {
 border: 2px solid green;
 background-color: lightyellow;
}

.modeller-run-applet-dialog-ok-button {
 text-align: center;
}

.modeller-make-your-game-button {
 border: 2px solid blue;
 background-color: lightyellow;
 font-size: large;
 color: darkblue;
}

.modeller-how-many-instances-panel {
 border: 1px;
 border-style: solid;
 border-color: lightblue;
 background-color: rgb(255, 255, 240); /* very light yellow */
 padding: 6px;
}

.modeller-how-many-instances-panel:hover {
 background-color: rgb(255, 255, 200);
}

.modeller-title-bar {
 border: 1px;
 border-style: solid;
 border-color: blue;
 background-color: darkblue;
 color: lightblue;
}

.modeller-code-primitive {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

.modeller-code-primitive:hover, modeller-code-primitive:focus {
	color: Purple;
}

.modeller-closeable-tab {
 border: 0px;
 margin: 0px;
 vertical-align: bottom;
} 

.modeller-tab-label {
 color: Navy;
 font-size: 11pt;
 font-weight: bold;
 }
 
.modeller-tab-label:hover {
   background: #B0D4F6;
}

.modeller-tab-label-disabled {
	background-color: Grey;
	color: LightGrey;
}

.modeller-split-panel-scroll-panel {
	margin-left: 5px;
	margin-right: 5px;
}

.modeller-description-text-area {
	width: 95%;
}

.modeller-special-alert {
color: red;
font-weight: bold;
background-color: lightYellow;
}

.modeller-micro-behaviour-editor-header {
  font-style: italic;
  background-color: LightGoldenRodYellow;
}

.modeller-micro-behaviour-editor-area {
	border: 2px;
	border-color: LightSalmon;
}

.modeller-netlogo-comment {
	font-style: italic;
	color: Chocolate;
}

.modeller-info-tab-text-area {
	background-color: BlanchedAlmond;
	border: 2px;
	border-color: LightSalmon;	
}

/* Following copied from .gwt-DialogBox .Caption with resize added */
.modeller-micro-behaviour-customisation-panel {
	background: url("images/hborder.png") repeat-x scroll 0 -2003px #E3E8F3;
    border-bottom: 1px solid #BBBBBB;
    border-top: 5px solid #D0E4F6;
    cursor: default;
    padding: 4px 4px 4px 8px;
	resize: both;
}

.modeller-rich-text-entry {
	background-color: #FFEEEE; /* very light pink */
	width: 100%;
}

/* Following are from Google's RichText Showcase:
*/
.gwt-RichTextArea {
}
.hasRichTextToolbar {
  border: 0px;
}
.gwt-RichTextToolbar {
  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}
.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}
.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
  background-color: white;
}

 /* Following are MoPiX only:
 */
 
.modeller-FlipSide {
  padding: 6px;
  background-color: lightcyan;
  border: 6px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}
 
.modeller-Shape {
 cursor: pointer;
}
 
.modeller-Equation {
 cursor: pointer;
}

/* Following is for the MoPiX equation editor
*/

.hor-input-panel {
 color: dodgerblue;
 margin: 2px;
 padding: 1px;
 border: 2px solid #3366CC;
 font-weight: bold;
 background-color: lightskyblue;
}

.panel { 
  padding: 5px; 
  width: 100%; 
  background-color: white; 
  border: 2px solid #000; 
}

/* following to work around a problem with table of contents from Google Sites
   perhaps need a more principled solution */
.goog-toc {
display:inline;
text-align: left;
line-height: 1.5em;
list-style: none;
}