BC/war/WEB-INF/classes/uk/ac/lkl/client/*.class
BC/gwt-unitCache/*
BC/war/WEB-INF/appengine-generated/*.bin
BC/war/WEB-INF/appengine-generated/*.xml
BC/war/Model/Model.nocache.js
BC/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
BC/war/WEB-INF/appengine-generated/local_db.bin
BC/war/WEB-INF/classes/uk/ac/lkl/client/BehaviourComposer$15.class
BC/war/WEB-INF/classes/uk/ac/lkl/client/BehaviourComposer$17$1.class
BC/war/WEB-INF/deploy/Model/rpcPolicyManifest/manifest.txt
*.class
